*.class
.classpath
.project
target
__pycache__
cache
antiqsort_*
network_*.svg
sorting_networks
/stats-config.txt
dependency-reduced-pom.xml
/scripts
.settings/
.idea/
*.iml
/videos
src/main/java/io/github/arrayv/sorts/test/
